		<body class="abody">
			<div class="container">
				<div class="row">
					<h2 class= "atoptext">ジャンル追加・一覧画面</h2>

					<label class= "atoptext">ジャンル</label>
					<%= form_for(@genre,url:admins_genres_path, method: :post) do |f| %>

					<!-- ここにラジオボタン追加 -->


					<div class="col-xs-3">
						<label class= "atoptext">
							<%= f.radio_button :is_active, true, :style => "margin:10px;" %>有効
						</label>
						<label class= "atoptext">
							<%= f.radio_button :is_active, false, :style => "margin:10px;" %>無効
						</label>
					</div>
					<%= f.text_field :name%>
					<%= f.submit "追加", class: "admin", :style => "margin:10px; text-decoration:none; color:white;"%>

					<% end %>

					<table class="table table-hover table-inverse">
						<thead class= "atoptext">
							<tr>
								<th>ジャンル</th>
								<th>状態</th>
								<th colspan="3"></th>
							</tr>
						</thead>
						<tbody>
							<% @genres.each do |genre| %>
							<tr class= "atoptext">
								<td>
									<%= genre.name %>
								</td>
								<td>
									<% if genre.is_active == true %>
									有効
									<% else %>
									無効
									<% end %>
								</td>
								<td>
									<%= link_to "編集する", edit_admins_genre_path(genre.id), class: "admin2", :style => "text-decoration:none;" %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</body>