<body>
	<h1>会員詳細画面</h1>
		<table>
			<thead>
			</thead>
			<tbody>
				<% @end_users.each do |end_user| %>
				<tr>
					<td>顧客ID</td>
					<td><%= %></td>
					<!-- ステータス表示 -->
					<td><%= %></td>
				</tr>
				<tr>
					<td>氏名</td>
					<td><%= %></td>
				</tr>
				<tr>
					<td>フリガナ</td>
					<td><%= %></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= %></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%= %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= %></td>
				</tr>
				<tr>
					<td>編集ボタン</td>
				</tr>
				<tr>
					<td>注文履歴一覧を見る</td>
				</tr>
				<% end %>
			</tbody>
		</table>
</body>