<body class= "shippingbody">
	<div class="container">
		<div class="row">
			<h2 class= "shippingtext">配送先登録/一覧</h2>
			<%= form_for(@shipping_address,url:end_users_shipping_addresses_path, method: :post)  do |f| %>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>郵便番号</th>
						<td><%= f.text_field :zip_code,placeholder: "7桁で入力して下さい" %></td>
					</tr>
					<tr>
						<th>住所</th>
						<td><%= f.text_field :address,placeholder: "住所を入力して下さい" %></td>
					</tr>
					<tr>
						<th>宛名</th>
						<td><%= f.text_field :order_name,placeholder: "宛名を入力してください" %></td>
					</tr>
				</thead>
			</table>
			<%= f.submit "登録する", class: "shippingb", :style => "margin:20px;" %>
			<% end %>


			<table class="table">
				<thead>
					<tr>
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% current_end_user.shipping_addresses.each do |shipping_address| %>
					<tr>
						<td>
							<%= shipping_address.zip_code %>
						</td>
						<td>
							<%= shipping_address.address %>
						</td>
						<td>
							<%= shipping_address.order_name %>
						</td>
						<td>
							<%= link_to "編集する", edit_end_users_shipping_address_path(shipping_address), class: "shippingb", :style => "text-decoration:none; color:white; margin-right:20px;" %>
							<%= link_to end_users_shipping_address_path(shipping_address),method: :delete, class: "shippingb2", :style => "text-decoration:none; color:white;" do %>
							<i class="fas fa-trash-alt fa-fw faa-wrench animated-hover"></i>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</body>