<body class= "abody">
  <div class="container">
    <div class="row">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" style="color:#888897;">
        <%= f.label :email,:style => "color:#888897" %>メールアドレス<br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field" style="color:#888897;">
        <%= f.label :password, :style => "color:#888897;" %>パスワード<br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, :style => "color:#888897;" %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "admin", :style => "margin:20px;" %>
      </div>
      <% end %>
    </div>
  </div>
</body>
