<h2>ショッピングカート</h2>

<thead>
	<tr>
		<tb>商品名</tb>
		<tb>単価(税抜)</tb>
		<tb>数量</tb>
		<tb>小計</tb>
		<tb></tb>
	</tr>

	<tr>
		<tb>
			<%= link_to %>
		</tb>
		<tb>
			<%= link_to %>
		</tb>
		<tb>
			<%= link_to %>
		</tb>
		<tb>
			<%= link_to %>
		</tb>
		<tb>
			<%= link_to %>
		</tb>
	</tr>
</thead>

<thead>
	<tr>
		<tb>合計金額</tb>
		<tb>金額</tb>
	</tr>
</thead>