<div class="container">
	<div class="row">
		<h2>ショッピングカート</h2>

		<thead>
			<tr>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
				<th></th>
			</tr>

			<% @cart_items.each do |cart_item| %>
			<tr>
				<tb>
					<%= cart_item.item.name %>
				</tb>
				<tb>
					<%= cart_item.item.price %>
				</tb>
				<tb>

					<%= form_for(@order_item, url:end_users_cart_items_path,method: :post) do |f| %>
					<%= cart_item.quantity %>
					<%= f.number_field :order_quantity %>
					<%= f.submit "変更する" %>
					<% end %>



				</tb>
				<tb>
					<%= "@subtotal" %>
				</tb>
				<tb>

					<%= link_to "削除", end_users_cart_items_path, method: :delete %>

				</tb>
			</tr>
			<% end %>
		</thead>

		<thead>
			<tr>
				<tb>
					合計金額
				</tb>
				<tb>
					<!-- 合計金額が表示される様に変更 -->
					<%= @total %>
				</tb>
			</tr>
		</thead>
	</div>

</div>

</div>

<%= link_to "買い物を続ける", end_users_items_path %>

<%= link_to "情報入力に進む", new_end_users_order_path %>

