<!DOCTYPE html>
<html>
<head>
  <title>TgtCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/82c3077383.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Creepster&display=swap" rel="stylesheet">
</head>

<body>
  <header>
  <h1 class="header">NAGANO<i class="fas fa-birthday-cake my-orange fa-2x fa-fw faa-float animated"></i>Cake</h1>
  <nav class="">
    <ul class="">
      <% if end_user_signed_in? %>
      <li class="list">
        <%= link_to 'My.Page', end_users_end_user_path(current_end_user.id), class: "glyphicon glyphicon-user black" %>
      </li>
      <li class="list">
        <%= link_to 'About', end_users_homes_about_path, class: "glyphicon glyphicon-link about black" %>
      </li>
      <li class="list">
        <%= link_to 'Logout', destroy_end_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out black" %>
      </li>
      <li class="list">
        <%= link_to 'Cart', end_users_cart_items_path, class: "glyphicon glyphicon-shopping-cart black" %>
      </li>
      <% elsif admin_signed_in? %>
      <li class="list">
        <%= link_to '商品一覧', admins_items_path, class: "glyphicon glyphicon-th black" %>
      </li>
      <li class="list">
        <%= link_to '会員一覧', admins_end_users_path, class: "glyphicon glyphicon-user black" %>
      </li>
      <li class="list">
        <%= link_to '注文履歴一覧' ,admins_orders_path, class: "glyphicon glyphicon-th-list black"%>
      </li>
      <li class="list">
        <%= link_to 'ジャンル管理', admins_genres_path, class: "glyphicon glyphicon-tag black" %>
      </li>
      <li class="list">
        <%= link_to 'Logout', destroy_end_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out black" %>
      </li>

      <% else %>
      <li class="list">
        <%= link_to ' Login', new_end_user_session_path, class: "glyphicon glyphicon-log-in black" %>
      </li>
      <li class="list">
        <%= link_to ' Signin', new_end_user_registration_path,class: "glyphicon glyphicon-edit sign_up black" %>
      </li>
      <li class="list">
        <%= link_to 'About', homes_about_path, class: "glyphicon glyphicon-link about black" %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>
<div class="body">
  <%= yield %>
</div>
 <footer class="container">
  <div class="row">
    <div class="footer">
      <p>©ながのCAKE Production by TGT</p>
    </div>
  </footer>
</body>
</html>
