<!DOCTYPE html>
<html>
<head>
  <title>TgtCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/82c3077383.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Creepster&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <% if end_user_signed_in? %>
    <h1 class= "header">
      <%= link_to  end_users_items_path,"style" => "text-decoration: none; color: white;" do%>
      NAGANO-CAKE
      <i class= "fas fa-birthday-cake my-orange fa-2x fa-fw faa-float animated"></i>
      <% end %>
    </h1>
    <li class= "list" style="margin-right: 30px;">
      <%= link_to end_users_end_user_path(current_end_user.id), "style" => "text-decoration: none; color: white;" do %>
      <i class="fas fa-user fa-fw faa-tada animated-hover"></i>
      My.Page
      <% end %>
    </li>
    <li class= "list" style="margin-right: 30px;">
      <%= link_to end_users_homes_about_path, "style" => "text-decoration: none; color: white;" do %>
      <i class="fas fa-info-circle fa-fw faa-tada animated-hover"></i>
      About
      <% end %>
    </li>
    <li class= "list" style="margin-right: 30px;">
      <%= link_to destroy_end_user_session_path, method: :delete, "style" => "text-decoration: none; color: white;" do %>
      <i class="fas fa-sign-out-alt fa-fw faa-tada animated-hover"></i>
      Logout
      <% end %>
    </li>
    <li class= "list" style="margin-right: 30px;">
      <%= link_to end_users_cart_items_path, "style" => "text-decoration: none; color: white;" do%>
      <i class="fas fa-shopping-cart fa-fw faa-tada animated-hover"></i>
      Cart
      <% end %>
    </li>
    <% elsif admin_signed_in?%>
    <div class= "aheader">
      <h1>
        <%= link_to admins_top_path, "style" => "text-decoration: none; color: white;" do%>
        NAGANO-CAKE
        <i class= "fas fa-birthday-cake my-orange fa-2x fa-fw faa-float animated"></i>
        <% end %>
      </h1>
      <li class= "list" style="margin-right: 30px;">
        <%= link_to admins_items_path, "style" => "text-decoration: none; color: white;" do %>
        <i class="fas fa-align-justify fa-fw faa-tada animated-hover"></i>
        商品一覧
        <% end %>
      </li>
      <li class= "list" style="margin-right: 30px;">
        <%= link_to admins_end_users_path, "style" => "text-decoration: none; color: white;" do%>
        <i class="fas fa-address-book fa-fw faa-tada animated-hover"></i>
        会員一覧
        <% end %>
      </li>
      <li class= "list" style="margin-right: 30px;">
        <%= link_to admins_orders_path, "style" => "text-decoration: none; color: white;" do %>
        <i class="fas fa-history fa-fw faa-tada animated-hover"></i>
        注文履歴一覧
        <% end %>
      </li>
      <li class= "list" style="margin-right: 30px;">
        <%= link_to admins_genres_path, "style" => "text-decoration: none; color: white;" do %>
        <i class="fas fa-tag fa-fw faa-tada animated-hover"></i>
        ジャンル一覧
        <% end %>
      </li>
      <li class= "list" style="margin-right: 30px;">
        <%= link_to destroy_end_user_session_path, method: :delete, "style" => "text-decoration: none; color: white;" do %>
        <i class="fas fa-sign-out-alt fa-fw faa-tada animated-hover"></i>
        Logout
        <% end %>
      </li>
    </div>

    <% else %>
    <h1 class= "header">
      <%= link_to  end_users_items_path,"style" => "text-decoration: none; color: white;" do%>
      NAGANO-CAKE
      <i class= "fas fa-birthday-cake my-orange fa-2x fa-fw faa-float animated"></i>
      <% end %>
    </h1>
    <li class= "list" style="margin-right: 30px;">
      <%= link_to new_end_user_session_path, "style" => "text-decoration: none; color: white;" do %>
      <i class="fas fa-sign-in-alt fa-fw faa-tada animated-hover"></i>
      Login
      <% end %>
    </li>
    <li class= "list" style="margin-right: 30px;">
      <%= link_to new_end_user_registration_path, "style" => "text-decoration: none; color: white;" do %>
      <i class="fas fa-user-plus fa-fw faa-tada animated-hover"></i>
      Signin
      <% end %>
    </li>
    <li class= "list" style="margin-right: 30px;">
      <%= link_to homes_about_path, "style" => "text-decoration: none; color: white;" do %>
      <i class="fas fa-info-circle fa-fw faa-tada animated-hover"></i>
      About
      <% end %>
    </li>
    <% end %>
  </ul>
</nav>
</header>
<div class="body">
  <%= yield %>
</div>
<footer>
  <% if end_user_signed_in? %>
  <div class="footer">
    <p>©ながのCAKE Production by TGT</p>
  </div>
  <% elsif admin_signed_in?%>
  <div class="afooter">
    <p>©ながのCAKE Production by TGT</p>
  </div>
  <% else %>
  <div class="footer">
    <p>©ながのCAKE Production by TGT</p>
  </div>
  <% end %>
</footer>
</body>
</html>
