<!DOCTYPE html>
<html>
  <head>
    <title>TgtCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>ながのCAKE</h1>
    <nav>
      <% if end_user_signed_in? %>
      <ul>
        <li>
           <%= link_to 'my.page' %>
        </li>
        <li>
          <%= link_to 'About' %>
        </li>
        <li>
          <%= link_to 'logout', destroy_end_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to 'cart'%>
        </li>
      <% elsif admin_signed_in? %>
      <li>
          <%= link_to '商品一覧' %>
        </li>
        <li>
          <%= link_to '会員一覧' %>
        </li>
        <li>
          <%= link_to '注文履歴一覧' %>
        </li>
        <li>
          <%= link_to 'ジャンル管理' %>
        </li>
        <li>
          <%= link_to 'logout', destroy_end_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'log in', new_end_user_session_path %>
        </li>
        <li>
          <%= link_to 'sign in', new_end_user_registration_path %>
        </li>
        <li>
          <%= link_to 'About', homes_about_path %>
        </li>
       <% end %>
      </ul>
    </nav>
  </header>
  <%= yield %>
  <footer><div>フッター</div></footer>
  </body>
</html>
